<?xml version="1.0" encoding="UTF-8"?>

<?define VerGeneration = "0" ?>
<?define VerMajor = "3" ?>
<?define VerMinor = "1" ?>
<?define VerBuild = "0780" ?>

<?define FullGMmbVersion = "$(var.VerGeneration).$(var.VerMajor).$(var.VerMinor) Build $(var.VerBuild)" ?>
<?define ShortGMmbVersion = "$(var.VerGeneration).$(var.VerMajor).$(var.VerMinor)" ?>

<?if $(var.MyCPU) = "x64" ?>
	<?define CpuId = "2" ?>
	<?define ProgFilesFolder = "ProgramFiles64Folder" ?>
	<?define Platforms = "x64" ?>
	<?define CpuPostfix = " (x64 edition)" ?>
	<?define Is64 = "yes" ?>
	<?define ReleaseFolder = "x64\$(var.Configuration)\" ?>
<?else ?>
	<?define CpuId = "1" ?>
	<?define ProgFilesFolder = "ProgramFilesFolder" ?>
	<?define Platforms = "x86" ?>
	<?define CpuPostfix = "" ?>
	<?define Is64 = "no" ?>
	<?define ReleaseFolder = "$(var.Configuration)\" ?>
<?endif ?>

<?define ProductName = "Halite" ?>
<?define ProductFullName = "$(var.ProductName) $(var.FullGMmbVersion)$(var.CpuPostfix)" ?>

<?define RootDirectory = "$(var.ProjectDir)..\..\" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?define UpgradeCode="{6981C8F9-F2FF-49bb-9335-BDFD9B7B635F}"?>
	
	<Product
		Id="*"
		UpgradeCode="$(var.UpgradeCode)"
		Name="$(var.ProductName)"
		Language="1033"
		Codepage='1252'
		Version="$(var.ShortGMmbVersion)"
		Manufacturer="BinaryNotions.com">

		<Package
			Description="$(var.ProductFullName) Package"
			Comments="$(var.ProductFullName) Package"
			InstallerVersion="200"
			Compressed="yes"
			ShortNames="no"
			Platform="$(var.Platforms)"/>
		
		<Upgrade Id="$(var.UpgradeCode)">
			<UpgradeVersion 
				Minimum="0.3.0"
				IncludeMinimum="yes"
				Maximum="$(var.ShortGMmbVersion)"
				IncludeMaximum="no"
				Language="1033"
				Property="OLDERVERSIONBEINGUPGRADED"
			/>
			<UpgradeVersion
				Minimum="$(var.ShortGMmbVersion)"
				IncludeMinimum="no"
				OnlyDetect="yes"
				Language="1033"
				Property="NEWPRODUCTFOUND"
			/>
			<UpgradeVersion
				Minimum="$(var.ShortGMmbVersion)"
				IncludeMinimum="yes"
				Maximum="$(var.ShortGMmbVersion)"
				IncludeMaximum="yes"
				OnlyDetect="yes"
				Language="1033"
				Property="SAMEVERDIFFBUILDPRODUCTFOUND"
			/>
		</Upgrade>

		<Media Id="1" Cabinet="Halite.cab" CompressionLevel="high" EmbedCab="yes" />
		<WixVariable Id="WixUILicenseRtf" Value="$(var.RootDirectory)LICENSE_1_0.rtf"  />
    
		<Property Id="INSTALLDIR">
			<RegistrySearch Id="MyHalitePath" Type="raw" Root="HKCU" Key="Software\Halite" Name="Path" />
		</Property>
		
		<Property Id="HALITEFILECOMP">
			<ComponentSearch Id="HaliteExe" Guid="{CC3CF18C-FD41-4292-90BD-4EC1A2DF3EAD}">
				<FileSearch Name="Halite.exe"/>
			</ComponentSearch>
		</Property>
		
		<!-- 
		<Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />
		
		<Property Id="REGISTERMAGNETPROTOCOL" Value="1" /> 
		-->

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="AppDataFolder" />
			<Directory Id="DesktopFolder" />

			<Directory Id="ProgramMenuFolder">        
				<Directory Id="HaliteProgramMenuFolder" Name="Halite">

					<Component Id='HaliteExeStartMenuFolder' Guid="*">
						<RegistryKey Root="HKCU" Key="Software\Halite\Uninstall">
							<RegistryValue 
								Value="HaliteProgramMenuFolder"
								Type="string"
								KeyPath="yes" />
							</RegistryKey>
						<RemoveFolder Id="RemoveShorcutFolder" On="uninstall" />            
					</Component>
				</Directory>
			</Directory>

			<Directory Id="$(var.ProgFilesFolder)" Name="Files">
				<Directory Id="INSTALLDIR" Name="Halite">

					<Component Id="InstallRegCU" Guid="*" DiskId="1">
						<RegistryKey Root="HKCU" Key="Software\Halite">
							<RegistryValue 
								Value="[INSTALLDIR]"
								Type="string"
								Name="Path"
								KeyPath="yes" />
						</RegistryKey>
					</Component>

					<Component Id='ReadMeText'  Guid="*">
						<File Id='Readme' Name='readme.txt' DiskId='1' Source='..\..\Readme.txt' />
					</Component>

					<Component Id='HaliteExe' Win64='$(var.Is64)' Guid='*'>
						<File 
							Id='Halite.exe' 
							Name='Halite.exe' 
							DiskId='1' 
							Source='$(var.RootDirectory)$(var.ReleaseFolder)Halite.exe'
							KeyPath="yes" 
						>
							<Shortcut Id="startmenuHaliteFile" Directory="HaliteProgramMenuFolder" Name="Halite"
								WorkingDirectory='INSTALLDIR' Advertise="yes" Icon="HaliteIcon.exe" IconIndex="0" />
						</File>

						<ProgId Id='Halite.torrent' Advertise="no" Description='BitTorrent Torrent File'>
							<Extension Id='torrent' ContentType='application/torrent'>
								<Verb Id='open' Command='Open' TargetFile="Halite.exe" Argument='"%1"' />
							</Extension>
						</ProgId>
					</Component>
					
					<Component Id="DesktopShortcut" Guid="*">
						<Condition>INSTALLDESKTOPSHORTCUT</Condition>
						<CreateFolder/>
						<RegistryKey Root="HKCU" Key="Software\Llamagraphics\Life Balance \Install"
							   Action="createAndRemoveOnUninstall">
							<RegistryValue Name="DTSC" Value="1" Type="integer" KeyPath="yes"/>
						</RegistryKey>
						<Shortcut Id="DesktopShortcut" Directory="DesktopFolder"
							Name="Halite" WorkingDirectory="INSTALLDIR"
							Icon="HaliteIcon.exe" Target="[#Halite.exe]"/>
					</Component>

					<Component Id="MagnetProtocol" Guid="*">
						<Condition>REGISTERMAGNETPROTOCOL</Condition>
						<CreateFolder/>
						<RegistryKey Id="regCaseFlowKey" Action="createAndRemoveOnUninstall" Key="magnet" Root="HKCR">
							<RegistryValue Id="DefaultValue" Action="write" Value="URL:Magnet" Type="string" />
							<RegistryValue Id="uriProtocol" Action="write" Name="URL Protocol" Value="" Type="string" />
							<RegistryKey Id="DefaultIcon" Action="createAndRemoveOnUninstall" Key="DefaultIcon" >
								<RegistryValue Id="DefaultIconValue" Action="write" Value="Halite.exe" Type="string" />
							</RegistryKey>
							<RegistryKey Id="regShell" Action="createAndRemoveOnUninstall" Key="shell" >
								<RegistryKey Id="regShellOpen" Action="createAndRemoveOnUninstall" Key="open" >
									<RegistryKey Id="regShellOpenCommand" Action="createAndRemoveOnUninstall" Key="command">
										<RegistryValue Id="DefaultPathValue" Action="write" Value='"[INSTALLDIR]Halite.exe" "%1"' Type="string" />
									</RegistryKey>
								</RegistryKey>
							</RegistryKey>
						</RegistryKey>
					</Component>


					<Component Id="Empty" Guid="" KeyPath="yes" />

					<Component Id='LanguageFiles.Czech' Guid='*'>
						<File Id='Czech' KeyPath="yes" Name='Czech.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Czech.dll' />
					</Component>
					<Component Id='LanguageFiles.Dutch' Guid='*'>
						<File Id='Dutch' KeyPath="yes" Name='Dutch.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Dutch.dll' />
					</Component>
					<Component Id='LanguageFiles.French' Guid='*'>
						<File Id='French' KeyPath="yes"  Name='French.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\French.dll' />
					</Component>
					<Component Id='LanguageFiles.German' Guid='*'>
						<File Id='German' KeyPath="yes"  Name='German.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\German.dll' />
					</Component>
					<Component Id='LanguageFiles.Greek' Guid='*'>
						<File Id='Greek' KeyPath="yes" Name='Greek.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Greek.dll' />
					</Component>
					<Component Id='LanguageFiles.Hungarian' Guid='*'>
						<File Id='Hungarian' KeyPath="yes"  Name='Hungarian.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Hungarian.dll' />
					</Component>
					<Component Id='LanguageFiles.Italian' Guid='*'>
						<File Id='Italian' KeyPath="yes"  Name='Italian.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Italian.dll' />
					</Component>
					<Component Id='LanguageFiles.Japanese' Guid='*'>
						<File Id='Japanese' KeyPath="yes" Name='Japanese.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Japanese.dll' />
					</Component>
					<Component Id='LanguageFiles.Norwegian' Guid='*'>
						<File Id='Norwegian' KeyPath="yes"  Name='Norwegian.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Norwegian.dll' />
					</Component>
					<Component Id='LanguageFiles.Polish' Guid='*'>
						<File Id='Polish' KeyPath="yes"  Name='Polish.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Polish.dll' />
					</Component>
					<Component Id='LanguageFiles.Portuguese' Guid='*'>
						<File Id='Portuguese' KeyPath="yes" Name='Portuguese.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Portuguese.dll' />
					</Component>
					<Component Id='LanguageFiles.Romanian' Guid='*'>
						<File Id='Romanian' KeyPath="yes"  Name='Romanian.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Romanian.dll' />
					</Component>
					<Component Id='LanguageFiles.Russian' Guid='*'>
						<File Id='Russian' KeyPath="yes"  Name='Russian.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Russian.dll' />
					</Component>
					<Component Id='LanguageFiles.Serbian' Guid='*'>
						<File Id='Serbian' KeyPath="yes"  Name='Serbian.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Serbian.dll' />
					</Component>
					<Component Id='LanguageFiles.Serbian.Cyrillic' Guid='*'>
						<File Id='Serbian.Cyrillic' KeyPath="yes" Name='Serbian.Cyrillic.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Serbian (Cyrillic).dll' />
					</Component>
					<Component Id='LanguageFiles.Slovenian' Guid='*'>
						<File Id='Slovenian' KeyPath="yes"  Name='Slovenian.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Slovenian.dll' />
					</Component>
					<Component Id='LanguageFiles.Spanish' Guid='*'>
						<File Id='Spanish' KeyPath="yes"  Name='Spanish.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Spanish.dll' />
					</Component>
					<Component Id='LanguageFiles.Swedish' Guid='*'>
						<File Id='Swedish' KeyPath="yes"  Name='Swedish.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Swedish.dll' />
					</Component>
					<Component Id='LanguageFiles.Turkish' Guid='*'>
						<File Id='Turkish' KeyPath="yes"  Name='Turkish.dll' DiskId='1'
						      Source='$(var.RootDirectory)lang\bin\Turkish.dll' />
					</Component>

				</Directory>
			</Directory>
		</Directory>

		<Feature 
			Id="HaliteComponents" 
			Title="Halite (Core)" 
			Level="1" 
			Absent="disallow" 
			AllowAdvertise='no'
			ConfigurableDirectory="INSTALLDIR"
		>
			<ComponentRef Id="HaliteExe" />
			<ComponentRef Id="HaliteExeStartMenuFolder" />
			<ComponentRef Id="InstallRegCU" />
			<ComponentRef Id="ReadMeText" />
			<ComponentRef Id="DesktopShortcut" />
			<ComponentRef Id="MagnetProtocol" />
			
		</Feature>
		
		<Feature
			Id="HaliteLanguages" Title="Languages" Level="1"	AllowAdvertise='no'
		>
			<ComponentRef Id="Empty" />

			<Feature Id="HaliteLanguages.Czech" Title="Czech"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Czech" />
			</Feature>
			<Feature Id="HaliteLanguages.Dutch" Title="Dutch"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Dutch" />
			</Feature>
			<Feature Id="HaliteLanguages.French" Title="French"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.French" />
			</Feature>
			<Feature Id="HaliteLanguages.German" Title="German"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.German" />
			</Feature>
			<Feature Id="HaliteLanguages.Greek" Title="Greek"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Greek" />
			</Feature>
			<Feature Id="HaliteLanguages.Hungarian" Title="Hungarian"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Hungarian" />
			</Feature>
			<Feature Id="HaliteLanguages.Italian" Title="Italian"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Italian" />
			</Feature>
			<Feature Id="HaliteLanguages.Japanese" Title="Japanese"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Japanese" />
			</Feature>
			<Feature Id="HaliteLanguages.Norwegian" Title="Norwegian"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Norwegian" />
			</Feature>
			<Feature Id="HaliteLanguages.Polish" Title="Polish"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Polish" />
			</Feature>
			<Feature Id="HaliteLanguages.Portuguese"	 Title="Portuguese"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Portuguese" />
			</Feature>
			<Feature Id="HaliteLanguages.Romanian" Title="Romanian"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Romanian" />
			</Feature>
			<Feature Id="HaliteLanguages.Russian" Title="Russian"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Russian" />
			</Feature>
			<Feature Id="HaliteLanguages.Serbian" Title="Serbian"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Serbian" />
			</Feature>
			<Feature Id="HaliteLanguages.Serbian.Cyrillic"	 Title="Serbian (Cyrillic)"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Serbian.Cyrillic" />
			</Feature>
			<Feature Id="HaliteLanguages.Slovenian" Title="Slovenian"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Slovenian" />
			</Feature>
			<Feature Id="HaliteLanguages.Spanish" Title="Spanish"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Spanish" />
			</Feature>
			<Feature Id="HaliteLanguages.Swedish" Title="Swedish"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Swedish" />
			</Feature>
			<Feature Id="HaliteLanguages.Turkish" Title="Turkish"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Turkish" />
			</Feature>
		</Feature>

		<CustomAction Id="PreventDowngrading" Error="A more recent version of Halite is already installed." />
		
		<Condition Message="The same version but a different build has been detected. Uninstall it first.">
			NOT SAMEVERDIFFBUILDPRODUCTFOUND OR Installed
		</Condition>

		<InstallExecuteSequence>
			<Custom Action="PreventDowngrading" After="FindRelatedProducts">
				NEWPRODUCTFOUND
			</Custom>

			<RemoveExistingProducts After="InstallInitialize" />
		</InstallExecuteSequence>

		<InstallUISequence>
			<Custom Action="PreventDowngrading" After="FindRelatedProducts">
				NEWPRODUCTFOUND
			</Custom>
		</InstallUISequence>
		
		<Icon Id="HaliteIcon.exe" SourceFile="$(var.RootDirectory)sln\HaliteWix\WixIcon.exe" />

		<UIRef Id="WixUI_FeatureTree" />    
	</Product>
</Wix>
