<?xml version="1.0" encoding="UTF-8"?>

<?define VerGeneration = "0" ?>
<?define VerMajor = "3" ?>
<?define VerMinor = "3" ?>
<?define VerBuild = "0745" ?>

<?define FullGMmbVersion = "$(var.VerGeneration).$(var.VerMajor).$(var.VerMinor) Build $(var.VerBuild)" ?>
<?define ShortGMmbVersion = "$(var.VerGeneration).$(var.VerMajor).$(var.VerMinor)" ?>

<?if $(var.MyCPU) = "x64" ?>
	<?define CpuId = "2" ?>
	<?define ProgFilesFolder = "ProgramFiles64Folder" ?>
	<?define Platforms = "x64" ?>
	<?define CpuPostfix = " (x64 edition)" ?>
	<?define Is64 = "yes" ?>
	<?define ReleaseFolder = "x64\$(var.Configuration)\" ?>
<?else ?>
	<?define CpuId = "1" ?>
	<?define ProgFilesFolder = "ProgramFilesFolder" ?>
	<?define Platforms = "x86" ?>
	<?define CpuPostfix = "" ?>
	<?define Is64 = "no" ?>
	<?define ReleaseFolder = "$(var.Configuration)\" ?>
<?endif ?>

<?define ProductName = "Halite" ?>
<?define ProductFullName = "$(var.ProductName) $(var.FullGMmbVersion)$(var.CpuPostfix)" ?>

<?define RootDirectory = "$(var.ProjectDir)\..\..\" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?define UpgradeCode="{6981C8F9-F2FF-49bb-9335-BDFD9B7B635F}"?>
	
	<Product
		Id="*"
		UpgradeCode="$(var.UpgradeCode)"
		Name="$(var.ProductName)"
		Language="1033"
		Codepage='1252'
		Version="$(var.ShortGMmbVersion)"
		Manufacturer="BinaryNotions.com">

		<Package
			Description="$(var.ProductFullName) Package"
			Comments="$(var.ProductFullName) Package"
			InstallerVersion="200"
			Compressed="yes"
			ShortNames="no"
			Platform="$(var.Platforms)"/>
		
		<Upgrade Id="$(var.UpgradeCode)">
			<UpgradeVersion 
				Minimum="0.3.1"
				IncludeMinimum="yes"
				Maximum="$(var.ShortGMmbVersion)"
				IncludeMaximum="no"
				Language="1033"
				Property="OLDERVERSIONBEINGUPGRADED"
			/>		
			<UpgradeVersion 
				Minimum="$(var.ShortGMmbVersion)"
				IncludeMinimum="no"
				OnlyDetect="yes"
				Language="1033"
				Property="NEWPRODUCTFOUND" 
			/>
		</Upgrade>

		<Media Id="1" Cabinet="Halite.cab" EmbedCab="yes" />
		<WixVariable Id="WixUILicenseRtf" Value="$(var.RootDirectory)LICENSE_1_0.rtf"  />
    
		<Property Id="INSTALLDIR">
			<RegistrySearch Id="MyHalitePath" Type="raw" Root="HKCU" Key="Software\Halite" Name="Path" />
		</Property>
		
		<Property Id="HALITEFILECOMP">
			<ComponentSearch Id="HaliteExe" Guid="{CC3CF18C-FD41-4292-90BD-4EC1A2DF3EAD}">
				<FileSearch Name="Halite.exe"/>
			</ComponentSearch>
		</Property>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="AppDataFolder" />
			<Directory Id="DesktopFolder" />

			<Directory Id="ProgramMenuFolder">        
				<Directory Id="HaliteProgramMenuFolder" Name="Halite">

					<Component Id='HaliteExeStartMenuFolder' Guid="*">
						<RegistryKey Root="HKCU" Key="Software\Halite\Uninstall">
							<RegistryValue 
								Value="HaliteProgramMenuFolder"
								Type="string"
								KeyPath="yes" />
							</RegistryKey>
						<RemoveFolder Id="RemoveShorcutFolder" On="uninstall" />            
					</Component>
				</Directory>
			</Directory>

			<Directory Id="$(var.ProgFilesFolder)" Name="Files">
				<Directory Id="INSTALLDIR" Name="Halite">

					<Component Id="InstallRegCU" Guid="*" DiskId="1">
						<RegistryKey Root="HKCU" Key="Software\Halite">
							<RegistryValue 
								Value="[INSTALLDIR]"
								Type="string"
								Name="Path"
								KeyPath="yes" />
						</RegistryKey>
					</Component>

					<Component Id='ReadMeText'  Guid="*">
						<File Id='Readme' Name='readme.txt' DiskId='1' Source='..\..\Readme.txt' />
					</Component>

					<Component Id='HaliteExe' Win64='$(var.Is64)' Guid='*'>
						<File 
							Id='Halite.exe' 
							Name='Halite.exe' 
							DiskId='1' 
							Source='$(var.RootDirectory)$(var.ReleaseFolder)Halite.exe'
							KeyPath="yes" 
						>
							<Shortcut Id="desktopHaliteFile" Directory="DesktopFolder" Name="Halite"
								WorkingDirectory='INSTALLDIR' Advertise="yes" Icon="HaliteIcon.exe" IconIndex="0" />
							<Shortcut Id="startmenuHaliteFile" Directory="HaliteProgramMenuFolder" Name="Halite"
								WorkingDirectory='INSTALLDIR' Advertise="yes" Icon="HaliteIcon.exe" IconIndex="0" />
						</File>

						<ProgId Id='Halite.torrent' Advertise="no" Description='BitTorrent Torrent File'>
							<Extension Id='torrent' ContentType='application/torrent'>
								<Verb Id='open' Command='Open' TargetFile="Halite.exe" Argument='"%1"' />
							</Extension>
						</ProgId>
					</Component>
					
					<Component Id="Empty" Guid="" KeyPath="yes" />
					
					<Component Id='LanguageFiles.Polish' Guid='*'>
						<File Id='Polish' KeyPath="yes" Name='Polish.dll' DiskId='1' 
						      Source='$(var.RootDirectory)lang\bin\Polish.dll' />
					</Component>
					<Component Id='LanguageFiles.Greek' Guid='*'>
						<File Id='Greek' KeyPath="yes"  Name='Greek.dll' DiskId='1' 
						      Source='$(var.RootDirectory)lang\bin\Greek.dll' />
					</Component>
					<Component Id='LanguageFiles.Dutch' Guid='*'>
						<File Id='Dutch' KeyPath="yes"  Name='Dutch.dll' DiskId='1' 
						      Source='$(var.RootDirectory)lang\bin\Dutch.dll' />
					</Component>

				</Directory>
			</Directory>
		</Directory>

		<Feature 
			Id="HaliteComponents" 
			Title="Halite (Core)" 
			Level="1" 
			Absent="disallow" 
			AllowAdvertise='no'
			ConfigurableDirectory="INSTALLDIR"
		>
			<ComponentRef Id="HaliteExe" />
			<ComponentRef Id="HaliteExeStartMenuFolder" />
			<ComponentRef Id="InstallRegCU" />
			<ComponentRef Id="ReadMeText" />
		</Feature>
		
		<Feature
			Id="HaliteLanguages" Title="Languages" Level="1"	AllowAdvertise='no'
		>
			<ComponentRef Id="Empty" />
			
			<Feature Id="HaliteLanguages.Dutch"
				Title="Dutch"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Dutch" />
			</Feature>
			<Feature Id="HaliteLanguages.Greek"
				Title="Greek"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Greek" />
			</Feature>
			<Feature Id="HaliteLanguages.Polish"
				Title="Polish"
				Level="1000" AllowAdvertise='no' ConfigurableDirectory="INSTALLDIR"
			>
				<ComponentRef Id="LanguageFiles.Polish" />
			</Feature>
		</Feature>

		<CustomAction Id="PreventDowngrading" Error="A more recent version of Halite is already installed." />

		<InstallExecuteSequence>
			<Custom Action="PreventDowngrading" After="FindRelatedProducts">
				NEWPRODUCTFOUND
			</Custom>

			<RemoveExistingProducts After="InstallFinalize" />
		</InstallExecuteSequence>

		<InstallUISequence>
			<Custom Action="PreventDowngrading" After="FindRelatedProducts">
				NEWPRODUCTFOUND
			</Custom>
		</InstallUISequence>
		
		<Icon Id="HaliteIcon.exe" SourceFile="$(var.RootDirectory)sln\HaliteWix\WixIcon.exe" />

		<UIRef Id="WixUI_FeatureTree" />    
	</Product>
</Wix>
