<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
<Product Id="E3A8BF7D-962F-476E-886B-FECEDD2F0FC7" Name="Halite BitTorrent Client" Language="1033" Version="0.3.0.3" Manufacturer="BinaryNotions.com">
    <Package Id="????????-????-????-????-????????????" Description="Description of your product" Comments="This will appear in the file summary stream." InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="Product.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">

        <Directory Id="ProgramFilesFolder">
            <Directory Id="INSTALLDIR" Name="Halite">

                <Component Id='HaliteBinary' Guid='E3A8BF7D-962F-476E-886B-FECEDD2F0FC7'>
                    
                    <File Id='MAINEXE' Name='Halite.exe' LongName='Halite.exe' DiskId='1'
                            Source='..\..\Release\Halite.exe' Vital='yes'>
                        <Shortcut Id="STARTMENUSCUT" Directory="ProgramMenuDir" Name="Halite10"
                                LongName="Halite 1.0" WorkingDirectory='INSTALLDIR'
                                Icon="Halite10.exe" IconIndex="0" />
                        <Shortcut Id="DESKTOPSCUT" Directory="DesktopFolder" Name="Halite10"
                                LongName="Halite 1.0" WorkingDirectory='INSTALLDIR'
                                Icon="Halite10.exe" IconIndex="0" />
                    </File>
                    
                </Component>
                
            </Directory>
        </Directory>

        <Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
            <Directory Id="ProgramMenuDir" Name='Halite' LongName="Halite 1.0" />
        </Directory>

        <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
    
    <Feature Id='Complete' Level='1'>
        <ComponentRef Id='HaliteBinary' />
    </Feature>
    
    <Icon Id="Halite10.exe" SourceFile='..\..\Release\Halite.exe' />

</Product>
</Wix>
